[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
django-environ = "*"
django-split-settings = "*"
django-extensions = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
django-cleanup = "*"

[requires]
python_version = "3.7"
